.userProfileContainer {
    text-transform: capitalize;
    padding: 10px 10px 10px 14px
}

.profileTags {
    font-size: 18px !important;
    font-weight: 700
}

.largeUserAvatar {
    border: 1px solid grey;
}