/* .tagBox {
    background-color: white;
} */

.goBackProfileBtn {
    float: right;
}

.tagsAvailableHeader {
    padding: 20px;
    text-transform: capitalize
}

.tagsAvailableBox {
    padding: 20px;
}

.tagsAvailable {
    padding: 10px;
}

.selectedAvailableHeader {
    padding: 20px;
    text-transform: capitalize
}

.selectedTags {
    padding: 10px;
}

.selectedTagsBox {
    padding: 20px;
}

.saveSelectedTagButton {
    margin: 20px 0px 20px;
}