.content {
    min-height: 100vh;
    background-color: whitesmoke;
    width: 100%;
    text-align: left;
    padding: 20px 20px 20px 20px;
}

::-webkit-scrollbar {
    width: 2px;
    background-color: white;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: dodgerblue;
}

.footer {
    text-align: center;
    position: relative;
    float: left;
    bottom: 0;
    background-color: dodgerblue;
    width: 100%;
    filter: opacity(0.8);
    color: white;
    font-size: large;
    font-weight: bolder;
    line-height: 50px;
}